.country-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
}

.visited {
     background-color: rgb(231, 60, 54);
}

.notVisited {
     background-color: rgb(39, 187, 180);
}

.flag-container img {
     width: 70px;
     padding: 5px;
}